<div class="row" th:fragment="groupIndividual" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6">
		<div class="container-chip">
			<div class="selector">
				<div class="selecotr-item">
					<input type="radio" id="grpId" name="radioGrpIndividual" class="selector-item_radio" checked>
					<label for="radio1" class="selector-item_label">Group</label>
				</div>
				<div class="selecotr-item">
					<input type="radio" id="individualId" name="radioGrpIndividual" class="selector-item_radio">
					<label for="radio2" class="selector-item_label">Individual</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
	</div>
</div>