<div class="row" th:fragment="profiles" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">


		<div class="col-sm-3">
			<div class="card">
				<h3 class="card-title">Marcus</h3>
				<h3 class="card-sub-title">25%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/marcus.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<h3 class="card-title">Damien</h3>
				<h3 class="card-sub-title">50%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/damien.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<h3 class="card-title">Leo</h3>
				<h3 class="card-sub-title">75%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/leo.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<h3 class="card-title">Sudha</h3>
				<h3 class="card-sub-title">100%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/sudha.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>