<div class="row" th:fragment="profiles" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">


		<a href = "#">
			<div class="col-sm-3" id="ckDiv">
				<div class="card">
					<h3 class="card-title" id="ckTitle"></h3>
					<h3 class="card-sub-title" id="ckSubTitle"></h3>
					<div class="center-align">
						<div class="wrapper-pie" id="ckPie">
							<div class="circle"></div>
							<div class="pie"></div>
							<div class="text">
								<img src="images/ck.png" alt="Avatar" style="width:85px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href = "#">
		<div class="col-sm-3" id="balajiDiv">
			<div class="card">
				<h3 class="card-title" id="balajiTitle"></h3>
				<h3 class="card-sub-title" id="balajiSubTitle"></h3>
				<div class="center-align">
					<div class="wrapper-pie" id="balajiPie">
						<div class="circle"></div>
						<div class="pie"></div>
						<div class="text">
							<img src="images/balaji.png" alt="Avatar" style="width:85px">
						</div>
					</div>
				</div>
			</div>
		</div>
		</a>
		<a href = "#">
		<div class="col-sm-3" id="mikeDiv">
			<div class="card">
				<h3 class="card-title" id="mikeTitle"></h3>
				<h3 class="card-sub-title" id="mikeSubTitle"></h3>
				<div class="center-align">
					<div class="wrapper-pie" id="mikePie">
						<div class="circle"></div>
						<div class="pie"></div>
						<div class="text">
							<img src="images/mike.png" alt="Avatar" style="width:85px">
						</div>
					</div>
				</div>
			</div>
		</div>
		</a>
		<a href = "#">
		<div class="col-sm-3" id="paulDiv">
			<div class="card">
				<h3 class="card-title" id="paulTitle"></h3>
				<h3 class="card-sub-title" id="paulSubTitle"></h3>
				<div class="center-align">
					<div class="wrapper-pie" id="paulPie">
						<div class="circle"></div>
						<div class="pie"></div>
						<div class="text">
							<img src="images/paul.png" alt="Avatar" style="width:85px">
						</div>
					</div>
				</div>
			</div>
		</div>
		</a>
	</div>
	<div class="col-sm-2"></div>
</div>