<div class="row" th:fragment="profiles" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">


		<div class="col-sm-3" id="ckDiv">
			<div class="card">
				<h3 class="card-title" id="ckTitle">CK</h3>
				<h3 class="card-sub-title" id="ckSubTitle">25%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/ck.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3" id="balajiDiv">
			<div class="card">
				<h3 class="card-title" id="balajiTitle">Balaji</h3>
				<h3 class="card-sub-title" id="balajiSubTitle">50%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/balaji.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3" id="mikeDiv">
			<div class="card">
				<h3 class="card-title" id="mikeTitle">Mike</h3>
				<h3 class="card-sub-title" id="mikeSubTitle">75%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/mike.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3" id="paulDiv">
			<div class="card">
				<h3 class="card-title" id="paulTitle">Paul</h3>
				<h3 class="card-sub-title" id="paulSubTitle">100%</h3>
				<div class="wrapper-pie fourty">
					<div class="circle"></div>
					<div class="pie"></div>
					<div class="text">
						<img src="images/paul.png" alt="Avatar" style="width:85px">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>