<div class="row" th:fragment="timeLeft" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-3">
				<div class="sub-title"> You have </div>
			</div>
			<div class="col-sm-6 go-to-bor" style="text-align: center;">
				<div class="row">
					<div class="col-sm-3">
						<div class="calender" id="idDaysDiv"> 03 </div>
						<div class="calender-lable"> Days </div>
					</div>
					<div class="col-sm-3">
						<div class="calender" id="idHoursDiv"> 10 </div>
						<div class="calender-lable"> Hours </div>

					</div>
					<div class="col-sm-3">
						<div class="calender" id="idMinsDiv"> 60 </div>
						<div class="calender-lable"> Mins </div>

					</div>
					<div class="col-sm-3">
						<div class="calender" id="idSecDiv"> 10 </div>
						<div class="calender-lable"> Seconds </div>

					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="sub-title"> For your travel </div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
	</div>
</div>