<div class="row" th:fragment="travelDetail" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-2">
	</div>

	<div class="col-sm-4 leave-from">
		<div class="row">
			<div class="col-sm-5">
				<label>Leave from</label>
				<h4>Singapore</h4>
			</div>
			<div class="col-sm-2">
				<img src="images/air-craft.png" alt="Avatar" style="width:30px; padding-top: 15px;">
			</div>
			<div class="col-sm-5">
				<label>Go to</label>
				<h4>Sydney</h4>
			</div>

		</div>
	</div>
	
	<div class="col-sm-4 go-to">
		<div class="row">
			<div class="col-sm-5">
				<label>Leave on</label>
				<h4>23 Jan, Sat</h4>
			</div>
			<div class="col-sm-2">
				<img src="images/calender.png" alt="Avatar" style="width:30px; padding-top: 15px;">
			</div>
			<div class="col-sm-5">
				<label>Return on</label>
				<h4>30 Jan, Sat</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
	</div>
</div>