<div class="row" th:fragment="chatModal" xmlns:th="http://www.thymeleaf.org">
	<div class="lightbox" id="lightbox-1">


		<div class="row no-gutters">
			<div class="chat-bubble-container ">
				<div class="chat-bubble msg-self">
					Lorem ipsum!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container">
				<div class="chat-bubble msg-friend">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nisi, odit ut nemo placeat labore,
					eligendi adipisci!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container ">
				<div class="chat-bubble msg-self">
					Lorem ipsum!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container">
				<div class="chat-bubble msg-friend">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nisi, odit ut nemo placeat labore,
					eligendi adipisci!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container ">
				<div class="chat-bubble msg-self">
					Lorem ipsum!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container">
				<div class="chat-bubble msg-friend">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nisi, odit ut nemo placeat labore,
					eligendi adipisci!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container ">
				<div class="chat-bubble msg-self">
					Lorem ipsum!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="chat-bubble-container">
				<div class="chat-bubble msg-friend">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nisi, odit ut nemo placeat labore,
					eligendi adipisci!
				</div>
			</div>
		</div>
		<a class="lightbox__close" href="#">X</a>
	</div>
</div>