<div class="row" th:fragment="chatModal" xmlns:th="http://www.thymeleaf.org">
	<div class="lightbox" id="lightbox-1">
		<div class="row" id="mainMessageBox">

		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-9">
				<textarea rows="4" cols="50" id="tbMessageToGpt">Send a message..</textarea>
			</div>

			<div class="col-sm-2">
				<button class="button-back" onclick="sendGptMsg()" >Send</button>
			</div>
		</div>

		<a class="lightbox__close" href="#">X</a>
	</div>

</div>