<div class="row" th:fragment="profile" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-2">

	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-12">
				<h2 id="name"></h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<img id="idProfilePic" alt="Avatar" style="width: 100%;">
			</div>

			<div class="col-sm-8 user-profile-container">
				<div class="row">
					<div class="col-sm-2 mini-icon-container">
						<img src="images/pass-port.png" alt="Avatar" class="mini-icon">
					</div>
					<div class="col-sm-6">
						<h4 class="internal-text">Passport</h4>
					</div>

					<div class="col-sm-4">
						<label class="switch">
							<input type="checkbox" id="cbPassport">
							<span class="slider round"></span>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 mini-icon-container">
						<img src="images/visa.png" alt="Avatar" class="mini-icon">
					</div>


					<div class="col-sm-6">
						<h4 class="internal-text">Visa</h4>
					</div>
					<div class="col-sm-4">
						<label class="switch">
							<input type="checkbox" id="cbVisa">
							<span class="slider round"></span>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 mini-icon-container">
						<img src="images/vax.png" alt="Avatar" class="mini-icon">
					</div>

					<div class="col-sm-6">
						<h4 class="internal-text">PCR</h4>
					</div>

					<div class="col-sm-4">
						<label class="switch">
							<input type="checkbox" id="cbPcr">
							<span class="slider round"></span>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 mini-icon-container">
						<img src="images/pass-port.png" alt="Avatar" class="mini-icon">
					</div>
					<div class="col-sm-6">
						<h4 class="internal-text">Vaccination</h4>
					</div>
					<div class="col-sm-4">
						<label class="switch">
							<input type="checkbox" id="cbVaccination">
							<span class="slider round"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
	</div>
</div>