<div class="row" th:fragment="toPurcase" xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 user-profile-container">
		<div class="row">
			<div class="col-sm-4">
				<div class="tile">
					<img src="images/bag.png" alt="Avatar" style="width:70%; padding-top: 15px;">
				</div>
				<div>
					<lable class="sub-title-tile">
						You are entitled for 20KG
					</lable>
				</div>

				<div class="float-container">

					<div class="float-child">
						<label style="font-size: 12px; color:grey; font-weight:400">$30 per additional KG</label>
					</div>

					<div class="float-child">
						<button class="button button3">Buy more</button>
					</div>

				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<img src="images/seat.png" alt="Avatar" style="width:70%; padding-top: 15px;">
				</div>
				<lable class="sub-title-tile">
					You can select your seat
				</lable>

				<div class="float-container">

					<div class="float-child">
						<label style="font-size: 12px; color:grey; font-weight:400">for $20</label>
					</div>

					<div class="float-child">
						<button class="button button3">Select</button>
					</div>

				</div>

			</div>
			<div class="col-sm-4">
				<div class="tile">
					<img src="images/meals.png" alt="Avatar" style="width:70%; padding-top: 15px;">
				</div>
				<lable class="sub-title-tile">
					<lable class="sub-title-tile">
						Customize your meal
					</lable>
				</lable>
				<div class="float-container">

					<div class="float-child">
						<label style="font-size: 12px; color:grey; font-weight:400"></label>
					</div>

					<div class="float-child">
						<button class="button button3">Customize</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>